services:
  db:
    image: postgres:15-alpine
    container_name: eventsync_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventsync_db
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: